html {
  margin: 0px;
  padding: 0px;
}

body {
  margin: 0px;
  padding: 0px;
  --background-color-header: orange;
  --background-color-scoreboard: pink;
}

.header {
  display: flex;
  justify-content: center;
  background-color: var(--background-color-header);
}

.scoreboard {
  display: flex;
  width: 100vw;
  justify-content: space-around;
  background-color: var(--background-color-scoreboard);
}

.poke {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card {
  height: 165px;
  width: 165px;
  background-color: red;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pokeImg {
  height: 160px;
}